[0;1;32m●[0m raspberrypi
    State: [0;1;32mrunning[0m
    Units: 350 loaded (incl. loaded aliases)
     Jobs: 0 queued
   Failed: 0 units
    Since: Thu 1970-01-01 01:00:13 BST; 56 years 2 months ago
  systemd: 252.39-1~deb12u1+rpi1
   CGroup: /
           ├─init.scope
           │ └─[0;38;5;245m1 /sbin/init splash[0m
           ├─system.slice
           │ ├─ModemManager.service
           │ │ └─[0;38;5;245m890 /usr/sbin/ModemManager[0m
           │ ├─NetworkManager.service
           │ │ └─[0;38;5;245m872 /usr/sbin/NetworkManager --no-daemon[0m
           │ ├─accounts-daemon.service
           │ │ └─[0;38;5;245m739 /usr/libexec/accounts-daemon[0m
           │ ├─avahi-daemon.service
           │ │ ├─[0;38;5;245m741 "avahi-daemon: running [raspberrypi.local]"[0m
           │ │ └─[0;38;5;245m762 "avahi-daemon: chroot helper"[0m
           │ ├─bluetooth.service
           │ │ └─[0;38;5;245m742 /usr/libexec/bluetooth/bluetoothd[0m
           │ ├─containerd.service
           │ │ └─[0;38;5;245m914 /usr/bin/containerd[0m
           │ ├─cron.service
           │ │ └─[0;38;5;245m743 /usr/sbin/cron -f[0m
           │ ├─cups-browsed.service
           │ │ └─[0;38;5;245m1684 /usr/sbin/cups-browsed[0m
           │ ├─cups.service
           │ │ ├─[0;38;5;245m908 /usr/sbin/cupsd -l[0m
           │ │ └─[0;38;5;245m966 /usr/lib/cups/notifier/dbus dbus://[0m
           │ ├─dbus.service
           │ │ └─[0;38;5;245m744 /usr/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
           │ ├─docker.service
           │ │ └─[0;38;5;245m1685 /usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock[0m
           │ ├─lightdm.service
           │ │ └─[0;38;5;245m919 /usr/sbin/lightdm[0m
           │ ├─polkit.service
           │ │ └─[0;38;5;245m748 /usr/lib/polkit-1/polkitd --no-debug[0m
           │ ├─rtkit-daemon.service
           │ │ └─[0;38;5;245m1093 /usr/libexec/rtkit-daemon[0m
           │ ├─ssh.service
           │ │ └─[0;38;5;245m951 "sshd: /usr/sbin/sshd -D [listener] 0 of 10-100 startups"[0m
           │ ├─system-serial\x2dgetty.slice
           │ │ └─serial-getty@ttyAMA10.service
           │ │   └─[0;38;5;245m1695 /sbin/agetty -o "-p -- \\u" --keep-baud 115200,57600,38400,9600 - vt220[0m
           │ ├─systemd-journald.service
           │ │ └─[0;38;5;245m307 /lib/systemd/systemd-journald[0m
           │ ├─systemd-logind.service
           │ │ └─[0;38;5;245m756 /lib/systemd/systemd-logind[0m
           │ ├─systemd-timesyncd.service
           │ │ └─[0;38;5;245m714 /lib/systemd/systemd-timesyncd[0m
           │ ├─systemd-udevd.service
           │ │ └─udev
           │ │   └─[0;38;5;245m344 /lib/systemd/systemd-udevd[0m
           │ ├─tailscaled.service
           │ │ └─[0;38;5;245m911 /usr/sbin/tailscaled --state=/var/lib/tailscale/tailscaled.state --socket=/run/tailscale/tailscaled.sock --port=41641[0m
           │ ├─triggerhappy.service
           │ │ └─[0;38;5;245m757 /usr/sbin/thd --triggers /etc/triggerhappy/triggers.d/ --socket /run/thd.socket --user nobody --deviceglob "/dev/input/event*"[0m
           │ ├─udisks2.service
           │ │ └─[0;38;5;245m758 /usr/libexec/udisks2/udisksd[0m
           │ ├─wayvnc-control.service
           │ │ └─[0;38;5;245m1248 python /usr/sbin/wayvnc-control.py[0m
           │ ├─wayvnc.service
           │ │ ├─[0;38;5;245m912 /bin/sh /usr/sbin/wayvnc-run.sh[0m
           │ │ └─[0;38;5;245m933 wayvnc --detached --gpu --config /etc/wayvnc/config --socket /tmp/wayvnc/wayvncctl.sock[0m
           │ └─wpa_supplicant.service
           │   └─[0;38;5;245m880 /sbin/wpa_supplicant -u -s -O "DIR=/run/wpa_supplicant GROUP=netdev"[0m
           └─user.slice
             └─user-1000.slice
               ├─session-1.scope
               │ ├─[0;38;5;245m 975 lightdm --session-child 10 14[0m
               │ ├─[0;38;5;245m1041 /usr/bin/labwc -m[0m
               │ ├─[0;38;5;245m1154 /usr/bin/ssh-agent /usr/bin/labwc-pi[0m
               │ ├─[0;38;5;245m1270 /bin/sh /usr/bin/lwrespawn /usr/bin/pcmanfm --desktop --profile LXDE-pi[0m
               │ ├─[0;38;5;245m1271 /bin/sh /usr/bin/lwrespawn /usr/bin/wf-panel-pi[0m
               │ ├─[0;38;5;245m1272 /usr/bin/kanshi[0m
               │ ├─[0;38;5;245m1279 /usr/libexec/geoclue-2.0/demos/agent[0m
               │ ├─[0;38;5;245m1282 /usr/libexec/polkit-mate-authentication-agent-1[0m
               │ ├─[0;38;5;245m1297 systemd-inhibit --what=handle-power-key gtk-nop[0m
               │ ├─[0;38;5;245m1300 /usr/bin/python3 /usr/share/system-config-printer/applet.py[0m
               │ ├─[0;38;5;245m1312 /usr/bin/pcmanfm --desktop --profile LXDE-pi[0m
               │ ├─[0;38;5;245m1321 /usr/bin/wf-panel-pi[0m
               │ ├─[0;38;5;245m1330 gtk-nop[0m
               │ └─[0;38;5;245m1453 /usr/lib/menu-cache/menu-cached /run/user/1000/menu-cached-:0[0m
               ├─session-10.scope
               │ ├─[0;38;5;245m19248 "sshd: passwordiswaterloo [priv]"[0m
               │ ├─[0;38;5;245m19263 "sshd: passwordiswaterloo@pts/3"[0m
               │ └─[0;38;5;245m19267 -bash[0m
               ├─session-11.scope
               │ ├─[0;38;5;245m19667 "sshd: passwordiswaterloo [priv]"[0m
               │ ├─[0;38;5;245m19693 "sshd: passwordiswaterloo@notty"[0m
               │ ├─[0;38;5;245m19694 -bash[0m
               │ ├─[0;38;5;245m19704 sh[0m
               │ ├─[0;38;5;245m19722 /home/passwordiswaterloo/.vscode-server/code-e3a5acfb517a443235981655413d566533107e92 command-shell --cli-data-dir /home/passwordiswaterloo/.vscode-server/cli --parent-process-id 19704 --on-host=127.0.0.1 --on-port[0m
               │ ├─[0;38;5;245m19782 sh /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/bin/code-server --connection-token=remotessh --accept-server-license-terms --start-server --enable-remote-auto-shutdown --socket-path=/tmp/code-d5fd1a10-f598-49df-845f-82da6e28dfad[0m
               │ ├─[0;38;5;245m19786 /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/server-main.js --connection-token=remotessh --accept-server-license-terms --start-server --enable-remote-auto-shutdown --socket-path=/tmp/code-d5fd1a10-f598-49df-845f-82da6e28dfad[0m
               │ ├─[0;38;5;245m20015 /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/bootstrap-fork --type=fileWatcher[0m
               │ ├─[0;38;5;245m20048 /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node --dns-result-order=ipv4first /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/bootstrap-fork --type=extensionHost --transformURIs --useHostProxy=false[0m
               │ ├─[0;38;5;245m20067 /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/bootstrap-fork --type=ptyHost --logsPath /home/passwordiswaterloo/.vscode-server/data/logs/20260313T203148[0m
               │ ├─[0;38;5;245m20258 /bin/sh[0m
               │ ├─[0;38;5;245m20961 /home/passwordiswaterloo/.vscode-server/extensions/ms-python.vscode-python-envs-1.12.0-linux-armhf/python-env-tools/bin/pet server[0m
               │ ├─[0;38;5;245m21314 /bin/bash --init-file /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/vs/workbench/contrib/terminal/common/scripts/shellIntegration-bash.sh[0m
               │ ├─[0;38;5;245m21462 /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/node /home/passwordiswaterloo/.vscode-server/extensions/ms-python.vscode-pylance-2025.10.2/dist/server.bundle.js --cancellationReceive=file:a74850136282d54b66ef20de64dc2e29bac3ae1150 --node-ipc --clientProcessId=20048[0m
               │ ├─[0;38;5;245m21490 /bin/bash --init-file /home/passwordiswaterloo/.vscode-server/cli/servers/Stable-e3a5acfb517a443235981655413d566533107e92/server/out/vs/workbench/contrib/terminal/common/scripts/shellIntegration-bash.sh[0m
               │ └─[0;38;5;245m23289 sleep 180[0m
               ├─session-3.scope
               │ ├─[0;38;5;245m1694 /bin/login -f[0m
               │ └─[0;38;5;245m2051 -bash[0m
               ├─session-4.scope
               │ ├─[0;38;5;245m2559 "sshd: passwordiswaterloo [priv]"[0m
               │ ├─[0;38;5;245m2565 "sshd: passwordiswaterloo@pts/0"[0m
               │ └─[0;38;5;245m2566 bash --rcfile /dev/fd/63[0m
               ├─session-5.scope
               │ ├─[0;38;5;245m 2948 "sshd: passwordiswaterloo [priv]"[0m
               │ ├─[0;38;5;245m 3008 "sshd: passwordiswaterloo@pts/1"[0m
               │ ├─[0;38;5;245m 3009 -bash[0m
               │ ├─[0;38;5;245m24203 systemctl status[0m
               │ └─[0;38;5;245m24205 pager[0m
               ├─session-7.scope
               │ ├─[0;38;5;245m13792 bash[0m
               │ ├─[0;38;5;245m13922 sh /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/bin/cursor-server --start-server --host=127.0.0.1 --port 0 --connection-token-file /run/user/1000/cursor-remote-code.token.e4c1d6d125e61d13a102aa31befc39e8 --telemetry-level off --enable-remote-auto-shutdown --accept-server-license-terms[0m
               │ ├─[0;38;5;245m13934 /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/node /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/out/server-main.js --start-server --host=127.0.0.1 --port 0 --connection-token-file /run/user/1000/cursor-remote-code.token.e4c1d6d125e61d13a102aa31befc39e8 --telemetry-level off --enable-remote-auto-shutdown --accept-server-license-terms[0m
               │ ├─[0;38;5;245m14216 /home/passwordiswaterloo/.nvm/versions/node/v20.20.1/bin/node /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/out/bootstrap-fork --type=ptyHost --logsPath /home/passwordiswaterloo/.cursor-server/data/logs/20260313T202139[0m
               │ ├─[0;38;5;245m16043 /home/passwordiswaterloo/.nvm/versions/node/v20.20.1/bin/node --dns-result-order=ipv4first /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/out/bootstrap-fork --type=extensionHost --transformURIs --useHostProxy=false[0m
               │ ├─[0;38;5;245m16054 /home/passwordiswaterloo/.nvm/versions/node/v20.20.1/bin/node /home/passwordiswaterloo/.cursor-server/bin/linux-arm64/60faf7b51077ed1df1db718157bbfed740d2e160/out/bootstrap-fork --type=fileWatcher[0m
               │ └─[0;38;5;245m24200 sleep 10[0m
               ├─session-8.scope
               │ ├─[0;38;5;245m15358 bash[0m
               │ └─[0;38;5;245m24199 sleep 10[0m
               ├─session-9.scope
               │ ├─[0;38;5;245m15915 bash[0m
               │ └─[0;38;5;245m24198 sleep 10[0m
               └─user@1000.service
                 ├─app.slice
                 │ ├─gnome-keyring-daemon.service
                 │ │ └─[0;38;5;245m1427 /usr/bin/gnome-keyring-daemon --foreground --components=pkcs11,secrets --control-directory=/run/user/1000/keyring[0m
                 │ ├─xdg-desktop-portal-gtk.service
                 │ │ └─[0;38;5;245m1397 /usr/libexec/xdg-desktop-portal-gtk[0m
                 │ └─xdg-desktop-portal-wlr.service
                 │   └─[0;38;5;245m1414 /usr/libexec/xdg-desktop-portal-wlr[0m
                 ├─init.scope
                 │ ├─[0;38;5;245m994 /lib/systemd/systemd --user[0m
                 │ └─[0;38;5;245m995 "(sd-pam)"[0m
                 └─session.slice
                   ├─dbus.service
                   │ ├─[0;38;5;245m1064 /usr/bin/dbus-daemon --session --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
                   │ └─[0;38;5;245m1425 /usr/bin/gnome-keyring-daemon --start --foreground --components=secrets[0m
                   ├─filter-chain.service
                   │ └─[0;38;5;245m1036 /usr/bin/pipewire -c filter-chain.conf[0m
                   ├─gvfs-afc-volume-monitor.service
                   │ └─[0;38;5;245m1418 /usr/libexec/gvfs-afc-volume-monitor[0m
                   ├─gvfs-daemon.service
                   │ ├─[0;38;5;245m1356 /usr/libexec/gvfsd[0m
                   │ ├─[0;38;5;245m1365 /usr/libexec/gvfsd-fuse /run/user/1000/gvfs -f[0m
                   │ └─[0;38;5;245m1441 /usr/libexec/gvfsd-trash --spawner :1.18 /org/gtk/gvfs/exec_spaw/0[0m
                   ├─gvfs-goa-volume-monitor.service
                   │ └─[0;38;5;245m1426 /usr/libexec/gvfs-goa-volume-monitor[0m
                   ├─gvfs-gphoto2-volume-monitor.service
                   │ └─[0;38;5;245m1433 /usr/libexec/gvfs-gphoto2-volume-monitor[0m
                   ├─gvfs-mtp-volume-monitor.service
                   │ └─[0;38;5;245m1412 /usr/libexec/gvfs-mtp-volume-monitor[0m
                   ├─gvfs-udisks2-volume-monitor.service
                   │ └─[0;38;5;245m1405 /usr/libexec/gvfs-udisks2-volume-monitor[0m
                   ├─pipewire-pulse.service
                   │ └─[0;38;5;245m1038 /usr/bin/pipewire-pulse[0m
                   ├─pipewire.service
                   │ └─[0;38;5;245m1035 /usr/bin/pipewire[0m
                   ├─wireplumber.service
                   │ └─[0;38;5;245m1037 /usr/bin/wireplumber[0m
                   ├─xdg-desktop-portal.service
                   │ └─[0;38;5;245m1378 /usr/libexec/xdg-desktop-portal[0m
                   └─xdg-permission-store.service
                     └─[0;38;5;245m1234 /usr/libexec/xdg-permission-store[0m
